output_dir: /media/agarg54/Extreme SSD/code/gQVR/eval_burst

dataset:
  batch_transform:
      target: gqvr.dataset.batch_transform.IdentityBatchTransform
  val:
    batch_size: 1
    num_workers: 1
    target: gqvr.dataset.spc_video_streaming.StreamingSlidingVideoDataset
    params:
      file_list: /media/agarg54/Extreme SSD/video_dataset_txt_files/i2k2_test.txt
      file_backend_cfg:
        target: gqvr.dataset.file_backend.HardDiskBackend
      out_size: 512
      crop_type: "center"
      use_hflip: false
      sliding_window: 10
      chunk_size: 11
      mosaic: false

    batch_transform:
      target: gqvr.dataset.batch_transform.IdentityBatchTransform

# qVAE * temp config:    
model:
  temp_cfg:
    z_channels: 4
    z_resolution: 64
    # heads:  

  vae_cfg:
    embed_dim: 4
    ddconfig:
      double_z: true
      z_channels: 4
      resolution: 512
      in_channels: 3
      out_ch: 3
      ch: 128
      ch_mult:
      - 1
      - 2
      - 4
      - 4
      num_res_blocks: 2
      attn_resolutions: []
      dropout: 0.0

prompt_training: false
lifting_training: false
qvae_path: /nobackup1/aryan/weights/continue_VAE_UA/checkpoints/0150000.pt

mixed_precision: bf16
seed: 310

unet_weight_path: /nobackup1/aryan/weights/stage2_sd21_demosaic/checkpoints/checkpoint-80000/state_dict.pth
base_model_path: ByteDance/sd2.1-base-zsnr-laionaes5
model_t: 200
coeff_t: 200
lora_rank: 256
lora_modules: [to_k, to_q, to_v, to_out.0, conv, conv1, conv2, conv_shortcut, conv_out, proj_in, proj_out, ff.net.2, ff.net.0.proj]

fusion_vit_weight_path: /media/agarg54/Extreme SSD/code/gQVR/experiments_stage3/checkpoints/fusion_vit_0020000.pt