output_dir: /media/agarg54/Extreme SSD/code/gQVR/experiments_stage3

dataset:
  batch_transform:
      target: gqvr.dataset.batch_transform.IdentityBatchTransform
  train:
    batch_size: 1
    num_workers: 24
    target: gqvr.dataset.spc_video.VideoDataset
    params:
      file_list: /media/agarg54/Extreme SSD/video_dataset_txt_files/combined_video_dataset.txt
      file_backend_cfg:
        target: gqvr.dataset.file_backend.HardDiskBackend
      out_size: 512
      crop_type: "center"
      use_hflip: false
      precomputed_latents: false
      sliding_window: 10
      chunk_size: 11
      mosaic: false

  # val:
  #   batch_size: 1
  #   num_workers: 24
  #   target: gqvr.dataset.spc_video.VideoDataset
  #   params:
  #     file_list: /home/argar/apgi/gQVR/dataset_txt_files/video_dataset_txt_files/saved_latents_vids_val.txt
  #     file_backend_cfg:
  #       target: gqvr.dataset.file_backend.HardDiskBackend
  #     out_size: 256
  #     crop_type: "center"
  #     use_hflip: false
  #     precomputed_latents: false
  #     sliding_window: 10
  #     chunk_size: 11
    batch_transform:
      target: gqvr.dataset.batch_transform.IdentityBatchTransform

# qVAE * temp config:    
model:
  temp_cfg:
    z_channels: 4
    z_resolution: 64
    # heads:  

  vae_cfg:
    embed_dim: 4
    ddconfig:
      double_z: true
      z_channels: 4
      resolution: 512
      in_channels: 3
      out_ch: 3
      ch: 128
      ch_mult:
      - 1
      - 2
      - 4
      - 4
      num_res_blocks: 2
      attn_resolutions: []
      dropout: 0.0

prompt_training: false
lifting_training: false
qvae_path: /nobackup1/aryan/weights/continue_VAE_UA/checkpoints/0150000.pt

# Loss params
loss_mode: "lsa_mse_perceptual" # ["gt", "perceptual", "lsa"] 
loss_scales:
  l1: 0.
  perceptual: 7.5
  lsa: 1.
  mse: 1000.


lr_burst_model: 1e-5
optimizer_type: adam
opt_kwargs:
  betas: [0.9, 0.999]

mixed_precision: bf16
seed: 310
max_train_steps: 500000
checkpointing_steps: 2500
checkpoints_total_limit: None
resume_from_checkpoint: ~
log_every: 500
resume_training: False

train_unet: false
unet_weight_path: /nobackup1/aryan/weights/stage2_sd21_demosaic/checkpoints/checkpoint-80000/state_dict.pth
base_model_path: ByteDance/sd2.1-base-zsnr-laionaes5
model_t: 200
coeff_t: 200
lora_rank: 256
lora_modules: [to_k, to_q, to_v, to_out.0, conv, conv1, conv2, conv_shortcut, conv_out, proj_in, proj_out, ff.net.2, ff.net.0.proj]