output_dir: /media/agarg54/Extreme SSD/code/gQVR/experiments_burst

dataset:
  batch_transform:
      target: gqvr.dataset.batch_transform.IdentityBatchTransform
  train:
    batch_size: 1
    num_workers: 24
    target: gqvr.dataset.spc_video_streaming.SlidingLatentVideoDataset
    params:
      file_list: /media/agarg54/Extreme SSD/video_dataset_txt_files/udm10.txt
      file_backend_cfg:
        target: gqvr.dataset.file_backend.HardDiskBackend
      out_size: 512
      crop_type: "center"
      use_hflip: False
      precomputed_latents: True
      sliding_window: 3
      chunk_size: 4

  val:
    batch_size: 1
    num_workers: 24
    target: gqvr.dataset.spc_video_streaming.SlidingLatentVideoDataset
    params:
      file_list: /home/argar/apgi/gQVR/dataset_txt_files/video_dataset_txt_files/saved_latents_vids_val.txt
      file_backend_cfg:
        target: gqvr.dataset.file_backend.HardDiskBackend
      out_size: 512
      crop_type: "center"
      use_hflip: False
      precomputed_latents: True
      sliding_window: 28
      chunk_size: 30
    batch_transform:
      target: gqvr.dataset.batch_transform.IdentityBatchTransform

# qVAE * temp config:    
model:
  temp_cfg:
    z_channels: 4
    z_resolution: 64
    # heads:  

  vae_cfg:
    embed_dim: 4
    ddconfig:
      double_z: true
      z_channels: 4
      resolution: 512
      in_channels: 3
      out_ch: 3
      ch: 128
      ch_mult:
      - 1
      - 2
      - 4
      - 4
      num_res_blocks: 2
      attn_resolutions: []
      dropout: 0.0

prompt_training: false
lifting_training: true
qvae_path: "/media/agarg54/Extreme SSD/weights/gqvr_sd21/3bit_vae_10xlr_8xBS/0600000.pt"

# Loss params
loss_mode: "gt_perceptual" # "flow" must | optional: ["l1", "perceptual"] 
loss_scales:
  l1: 1.
  perceptual: 10.
  mse: 0.


lr_raft_model: 1e-5
optimizer_type: adam
opt_kwargs:
  betas: [0.9, 0.999]

mixed_precision: bf16
seed: 310
max_train_steps: 100000
checkpointing_steps: 1000
checkpoints_total_limit: None
resume_from_checkpoint: ~
log_image_steps: 1000
log_every: 500
val_every: 1000
resume_training: False

with_unet: false