output_dir: /nobackup1/aryan/weights/stage2_sd21_mosaic


dataset:
  train:
    batch_size: 2
    dataloader_num_workers: 24
    target: gqvr.dataset.spc_image_mosaic.SPCDataset_Mosaic
    params:
      file_list: /media/agarg54/Extreme SSD/dataset_files/combined_dataset.txt
      file_backend_cfg:
        target: gqvr.dataset.file_backend.HardDiskBackend
      out_size: 256
      crop_type: "center"
      use_hflip: False
      bits: 3
    batch_transform:
      target: gqvr.dataset.batch_transform.IdentityBatchTransform

  val:
    batch_size: 1
    dataloader_num_workers: 24
    target: gqvr.dataset.spc_image_mosaic.SPCDataset_Mosaic
    params:
      file_list: /mnt/disks/behemoth/datasets/dataset_txt_files/full_test_set.txt
      file_backend_cfg:
        target: gqvr.dataset.file_backend.HardDiskBackend
      out_size: 256
      crop_type: "center"
      use_hflip: False
      bits: 3
    batch_transform:
      target: gqvr.dataset.batch_transform.IdentityBatchTransform

# qVAE config:    
model:
  vae_cfg:
    embed_dim: 4
    ddconfig:
      double_z: true
      z_channels: 4
      resolution: 512
      in_channels: 3
      out_ch: 3
      ch: 128
      ch_mult:
      - 1
      - 2
      - 4
      - 4
      num_res_blocks: 2
      attn_resolutions: []
      dropout: 0.0

prompt_training: false
lifting_training: false
base_model_type: sd2
base_model_path: ByteDance/sd2.1-base-zsnr-laionaes5
resume_from_checkpoint: /nobackup1/aryan/weights/stage2_sd21_mosaic/checkpoints/checkpoint-20000
# resume_from_checkpoint: ~
qvae_path: /nobackup1/aryan/weights/continue_VAE_UA_mosaic/checkpoints/0105000.pt
model_t: 200
coeff_t: 200
lora_rank: 256
lora_modules: [to_k, to_q, to_v, to_out.0, conv, conv1, conv2, conv_shortcut, conv_out, proj_in, proj_out, ff.net.2, ff.net.0.proj]
use_ema: false
ema_decay: 0.999
resume_ema: true

lambda_gan: 0.5
lambda_lpips: 5
lambda_l2: 500
lr_G: 1e-5
lr_D: 1e-5
optimizer_type: adam
opt_kwargs:
  betas: [0.9, 0.999]

mixed_precision: bf16
seed: 310
max_train_steps: 100_000
keep_D_off_till: 75_000
gradient_accumulation_steps: 1
gradient_checkpointing: false
max_grad_norm: 1.0
logging_dir: logs
report_to: tensorboard
checkpointing_steps: 20000
checkpoints_total_limit: None
log_image_steps: 500
log_grad_steps: 250
log_grad_modules: [conv_out]